* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(240, 240, 240);
}

main {
  margin: 3rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1 {
  margin-bottom: 2rem;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] ~ label {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  background: rgb(240, 240, 240);
  box-shadow: -6px -6px 10px rgb(250, 250, 250), 6px 6px 10px rgb(230, 230, 230);
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"][id="card1"]:checked + label,
input[type="checkbox"][id="card2"]:checked + label,
input[type="checkbox"][id="card3"]:checked + label,
input[type="checkbox"][id="card4"]:checked + label,
input[type="checkbox"][id="card5"]:checked + label {
  box-shadow: inset -6px -6px 10px white, inset 6px 6px 10px rgb(230, 230, 230);
}

section {
  container-type: inline-size;
  container-name: section;
  border: 2px solid gold;
  /* animation: resize 10s ease-in-out alternate; */
  /* animation-iteration-count: 2; */
}

section > div {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@container section size(min-width: 1000px) {
  section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

article {
  container-type: inline-size;
  margin: 1rem;
}

article > div {
  width: 100%;
  box-shadow: 0 0 8px rgb(128, 128, 128);
  transition: all 0.5s ease-out;
}

div p {
  padding: 1rem;
}

article {
  display: none;
  transition: all 0.5s ease-out;
}

input[type="checkbox"][id="card1"]:checked ~ section article:first-child {
  display: block;
  width: initial;
}
input[type="checkbox"][id="card2"]:checked ~ section article:nth-child(2) {
  display: block;
  width: initial;
}
input[type="checkbox"][id="card3"]:checked ~ section article:nth-child(3) {
  display: block;
  width: initial;
}
input[type="checkbox"][id="card4"]:checked ~ section article:nth-child(4) {
  display: block;
  width: initial;
}
input[type="checkbox"][id="card5"]:checked ~ section article:last-child {
  display: block;
  width: initial;
}

@container size(max-width: 300px) {
  article:nth-child(2n) > div {
    background-image: linear-gradient(to right, purple, blue);
    color: white;
    display: flex;
    flex-direction: column-reverse;
  }
}

@container size(min-width: 450px) {
  article > div {
    display: flex;
  }
}

@container size(min-width: 600px) {
  article > div {
    background: black;
    color: white;
  }
}

@keyframes resize {
  from {
    width: 200px;
  }
  to {
    width: 100%;
  }
}
